.audiovisualSub {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.audiovisualSub img {
  width: 400px;
  margin: auto;
  /* height: 90px; */
}

.audiovisualSub h3 {
  text-align: center;
  color: #b18b72;
  font-weight: bold;
  padding-top: 1rem;
}

.paragraph__text p {
  font-style: italic;
  text-align: center;
  max-width: 50%;
  margin: auto;
  padding-top: 2rem;
}
.div1 {
  align-items: center;
  max-width: 50%;
  gap: 1rem;
  margin: auto;
  display: flex;
  padding: 2rem 0 2rem 0;
}
.div1 h3 {
  color: black;
  text-align: left;
}
.div1 p {
  text-align: left;
  max-width: 100%;
}

.div1 img {
  width: 12rem;
}
