.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  background-color: #fafafa;
  width: 100%;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
}

.heading > h3 {
  text-decoration: underline;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.form__container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__names {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form__names input {
  margin: 0 1rem;
  width: 40%; /* Adjust the percentage as needed */
  text-align: center;
}

.web input,
.desc input,
.emp input {
  width: 85%; /* Adjust the percentage as needed */
}

.checkbox__heading p {
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.checkbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox__container input {
  width: 20px; /* Adjust the width as needed */
}

.checkbox {
  display: flex;
  text-align: left;
  width: 100%;
  color: black;
  margin: 0.5rem;
  align-items: center;
}

.checkbox input {
  margin: 0 0.5rem 0 5rem; /* Adjust the margins as needed */
  background-color: #b18b72;
  accent-color: #b18b72;
  border: none;
  outline: none;
  transform: scale(1);
}

.checkbox span {
  width: 100%;
  align-items: center;
  text-align: left;
}

.form__footer p {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  color: black;
}

.textarea {
  border: 1px solid black;
  border-radius: 0.4rem;
}
.btn__submit__container {
  margin-top: 0.5rem;
}

.btn__submit__container button {
  background-color: #b18b72;
  color: white;
  font-weight: 550;
  border: none;
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
