.wrapper {
  /* margin: 0 2rem 0 2rem; */
  min-height: 100vh;
  background-color: green;
  color: black;
}

.home {
  display: grid;
  height: 50vh;
  place-items: center;
}

.home__socials {
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}

.home__consult button {
  display: flex;
  font-size: small;
  background: none;
  color: #fff;
  border: 1px solid white;
  padding: 1rem 0.8rem 1rem 0.8rem;
}
