.latest__blogs {
  background-color: #b18b72;
  /* min-height: 100vh; */
  color: black;
}
.latest__blogs h4 {
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
}
.latest__blogs h3 {
  background-color: #b18b72;
  color: #fff;
  font-weight: 500;
}

.heading {
  text-align: center;
  background-color: #b18b72;
  color: white;
}

.blog__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blog {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.btn__container {
  width: 100%;

  text-align: center;
}

.btn__readmore {
  text-align: center;
  background-color: #474747;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
}
