.section2 {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding: 0.5rem;
}
.icons div {
  margin: auto;
}

.icons img {
  width: 80px;
}
